"project_id": "423866"
"api_token": "OBTAIN TOKEN FROM https://crowdin.com/settings#api-key"
"base_path": "."
"base_url": "https://api.crowdin.com" # https://{organization-name}.crowdin.com

"preserve_hierarchy": true

"files": [
  {
    "source" : "src/silid-server/public/languages/eng.json",
    "translation" : "%original_path%/%three_letters_code%.json"
  }
]
